# Ignore Terraform state files
# 3tirf directory terraform
03-3tier-architecture/*.tfstate
03-3tier-architecture/*.tfstate.*
03-3tier-architecture/terraform.tfstate.backup
03-3tier-architecture/terraform.tfstate.backup.*

# Ignore Terraform variables file
03-3tier-architecture/terraform.tfvars

# Ignore Terraform plugin directory
03-3tier-architecture/.terraform/

03-3tier-architecture/terraform.lock.hcl
03-3tier-architecture/.terraform.lock.hcl

# Ignore logs and temporary files
03-3tier-architecture/*.log
03-3tier-architecture/*.swp

# Ignore playground directory