# Ignore playground directory
playground
gs.sh
# end

# Ignore Terraform state files
# s3 static website directory terraform
01-s3-static-website/env/dev/*.tfstate
01-s3-static-website/env/dev/*.tfstate.*
01-s3-static-website/env/dev/terraform.tfstate.backup
01-s3-static-website/env/dev/terraform.tfstate.backup.*

# Ignore Terraform variables file
01-s3-static-website/env/dev/terraform.tfvars

# Ignore Terraform plugin directory
01-s3-static-website/env/dev/.terraform/

01-s3-static-website/env/dev/terraform.lock.hcl
01-s3-static-website/env/dev/.terraform.lock.hcl

# Ignore logs and temporary files
01-s3-static-website/env/dev/*.log
01-s3-static-website/env/dev/*.swp

#end

# scalable webapp directory terraform
02-scalable-webapp/env/dev/*.tfstate
02-scalable-webapp/env/dev/*.tfstate.*
02-scalable-webapp/env/dev/terraform.tfstate.backup
02-scalable-webapp/env/dev/terraform.tfstate.backup.*

# Ignore Terraform variables file
02-scalable-webapp/env/dev/terraform.tfvars

# Ignore Terraform plugin directory
02-scalable-webapp/env/dev/.terraform/

02-scalable-webapp/env/dev/terraform.lock.hcl
02-scalable-webapp/env/dev/.terraform.lock.hcl

# Ignore logs and temporary files
02-scalable-webapp/env/dev/*.log
02-scalable-webapp/env/dev/*.swp

# end

# 3tirf directory terraform
03-3tier-architecture/*.tfstate
03-3tier-architecture/*.tfstate.*
03-3tier-architecture/terraform.tfstate.backup
03-3tier-architecture/terraform.tfstate.backup.*

# Ignore Terraform variables file
03-3tier-architecture/terraform.tfvars

# Ignore Terraform plugin directory
03-3tier-architecture/.terraform/

03-3tier-architecture/terraform.lock.hcl
03-3tier-architecture/.terraform.lock.hcl

# Ignore logs and temporary files
03-3tier-architecture/*.log
03-3tier-architecture/*.swp

# budgetor directory terraform
05-budgetor/*.tfstate
05-budgetor/*.tfstate.*
05-budgetor/terraform.tfstate.backup
05-budgetor/terraform.tfstate.backup.*

# Ignore Terraform variables file
# 05-budgetor/terraform.tfvars

# Ignore Terraform plugin directory
05-budgetor/.terraform/

05-budgetor/terraform.lock.hcl
05-budgetor/.terraform.lock.hcl

# Ignore logs and temporary files
05-budgetor/*.log
05-budgetor/*.swp